<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aylien - API</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header id="header">
            <h1>Aylien API</h1>
        </header>
            <section id="section">
                <article id='article'>
                    <form id='form'>
                        <input type="text" name="name" id="name" placeholder="Whrite your text">
                        <input type="submit" id='send' value="Send">
                    </form>
                </article>
            </section>
        <footer id="footer"></footer>
    </div>
</body>
</html>