$header-bg: #594185;
$footer-bg: #594185;
$button-bg: #594185;
$font-claro: #f3f3f3;
$font-white: #fff;
$website-bg: #f8f8f8;
$bg-white: #fff;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background: $website-bg;
}

.container{
    width: 100vw;
    height: 100vh;
    min-width: 370px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "header header header header"
    "section section section section"
    "footer footer footer footer";
}

header{
    height: 10vh;
    width: 100vw;
    grid-area: header;
    background: $header-bg;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header h1{
    color: $font-claro;
    margin-left: 80px;
    font-size: 1.8em;
    font-weight: normal;
}

section{
    min-height: 80vh;
    height: auto;
    width: 100vw;
    grid-area: section;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#article{
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section article form{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 120px;
    left: 0;
}

section article form input:nth-child(1){
    width: 80%;
    padding: 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
}

section article form input[type='submit']{
    border: 1px solid $button-bg;
    background: $button-bg;
    color: $font-white;
    width: 100px;
    height: 45px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
}

footer{
    height: 10vh;
    width: 100vw;
    background: $footer-bg;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerInfo{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerInfo h4{
    color: $font-white;
    font-weight: normal;
}

#respuesta{
    width: 100%;
    min-height: 40vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.showRes{
    width: 50%;
    padding: 18px;
    min-height: 180px;
    height: auto;
    border: 1px solid #d1c6c6;
    border-radius: 5px;
    background: $bg-white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.showRes p{
    font-size: 0.8em;
    line-height: 2em;
}

@media only screen and (min-width:750px) and (max-width:1100px){
    section article{
        width: 80%;
    }

    section article form input:nth-child(1){
        width: 90%;
    }
    section article form{
        width: 80%;
    }
}

@media only screen and (min-width:500px) and (max-width:749px){
    header h1{
        margin-left: 60px;
    }

    section article form{
        width: 95%;
    }

    form{
        width: 100%;
        margin: 0 auto;
    }
    
    .showRes{
        width: 100%;
    }
}

@media only screen and (min-width:370px) and (max-width:499px){
    .container{
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "section"
        "footer";
    }

    section article form{
        width: 90%;
    }

    header h1{
        margin-left: 20px;
    }

    section article{
        width: 100%;
    }

    form{
        width: 100%;
        margin: 0 auto;
    }

    section article form input:nth-child(1){
        width: 100%;
    }

    .showRes{
        left: 0;
        width: 100%;
    }

}